/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
    /* Background image */
    background-image: url('background.jpg'); 
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container-log
{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.container p
{
    text-align: center;
    margin-bottom: 20px;
}

/* Navbar */
header {
    background-color: #2472c0;
    color: white;
    padding: 20px 0;
}
header .logo {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}
header nav {
    float: right;
}
header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}
header nav a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    background: url('hero.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 0;
}
.hero h2 {
    font-size: 48px;
    margin-bottom: 10px;
}
.hero p {
    font-size: 20px;
}

/* Properties Section */
.properties {
    padding: 50px 0;
}
.properties h2 {
    text-align: center;
    margin-bottom: 40px;
    color: white;
}
.properties p{
    color: white;
}
.property-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 300px;
    overflow: hidden;
    text-align: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card h3 {
    margin: 15px 0 5px 0;
}
.card p {
    margin: 5px 0;
}
.btn {
    display: inline-block;
    margin: 15px 0;
    padding: 10px 20px;
    background-color: #2472c0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover {
    background-color: #2472c0;
}

/* Footer */
footer {
    background-color: #2472c0;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}


/*story Section */
.our-story {
    padding: 50px 0;
}
.our-story h2 {
    text-align: center;
    margin-bottom: 40px;
    color: white;
}
.our-story p{
    color: white;
}

.about-hero {
     padding: 50px 0;
}
.about-hero h1 {
    text-align: center;
    margin-bottom: 40px;
    color: white;
}
.about-hero p{
    color: white;
}



/* For grid layout */
.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 900px;
    margin: 40px auto;
}

.stat-item {
    background: #2472c0;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    padding: 40px 20px;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
}

.stat-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}


.founder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 900px;
    margin: 40px auto;
}

.founder-item{
    background: #2472c0;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    padding: 40px 20px;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
}

.founder-item li {
    text-align: left;
}


.founder-profile {
    color: white;
    text-align: center;
}




/* Responsive */
@media(max-width:768px){
    header nav {
        float: none;
        text-align: center;
        margin-top: 10px;
    }
    .property-cards {
        flex-direction: column;
        align-items: center;
    }
}

.register-container {
            width: 400px;
            max-width: 90%;
            margin: 100px auto;
            background-color: rgba(255, 255, 255, 0.5);
            
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 8px 16px rgba(0,0,0,0.3);
            text-align: left;
        }
        .register-container h2 {
            margin-bottom: 30px;
            color: #2472c0;
        }

        .register-container input[type="name"],
        .register-container input[type="surname"],
        .register-container input[type="password"]{
            width: 90%;
            padding: 12px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .register-container input[type="email"],
        .register-container input[type="phone"], 
        .register-container input[type="idnumber"]{
            width: 90%;
            padding: 12px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .register-container input[type="submit"] {
            width: 95%;
            padding: 12px;
            margin-top: 20px;
            border: none;
            border-radius: 5px;
            background-color: #2472c0;
            color: white;
            font-size: 18px;
            cursor: pointer;
            transition: 0.3s;
        }

        .register-container input[type="submit"]:hover {
            background-color: #2472c0;
        }

        .register-container p {
            margin-top: 20px;
            font-size: 14px;
        }

        .register-container p a {
            color: #2472c0;
            text-decoration: none;
        }

        .register-container p a:hover {
            text-decoration: underline;
        }
/* Login Form Specific Styles */
        .login-container {
            width: 400px;
            max-width: 90%;
            margin: 100px auto;
            background-color: rgba(255, 255, 255, 0.5);
            
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 8px 16px rgba(0,0,0,0.3);
            text-align: center;
        }

        .login-container h2 {
            margin-bottom: 30px;
            color: #2472c0;
        }

        .login-container input[type="email"],
        .login-container input[type="password"] {
            width: 90%;
            padding: 12px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .login-container input[type="submit"] {
            width: 95%;
            padding: 12px;
            margin-top: 20px;
            border: none;
            border-radius: 5px;
            background-color: #2472c0;
            color: white;
            font-size: 18px;
            cursor: pointer;
            transition: 0.3s;
        }

        .login-container input[type="submit"]:hover {
            background-color: #2472c0;
        }

        .login-container p {
            margin-top: 20px;
            font-size: 14px;
        }

        .login-container p a {
            color: #2472c0;
            text-decoration: none;
        }

        .login-container p a:hover {
            text-decoration: underline;
        }